<body>
<div class="f">
    <h1 (click)="clickImage()">என் குப்பை எனது பொறுப்பு</h1>
    <div *ngIf="!isImage" class="f1">
        <img src="/assets/image1.jpg" width="520px" height="460px">
    </div>
</div>
<div class="content">
<div class="f2">
        <h2 style="color:rgb(22, 7, 71);"><img src="/assets/arrow.jpg" height="12px"> குப்பை தரம் பிரித்தல்</h2>
        <ul type="circle" >
            <li style="color: rgb(97, 231, 9);"><h3><b>மக்கும் குப்பை</b></h3> </li>
            <li style="color: rgb(209, 39, 39);"><h3><b>மக்காத குப்பை</b></h3></li>
        </ul >
</div>
<div class="f3">
        <h2 style="color:rgb(22, 7, 71);"><img src="/assets/arrow.jpg" height="12px"> மூன்று விதமான குப்பை தொட்டிகள்</h2>
        <ul  type="circle">
            <li style="color: rgb(255, 0, 0);">Helo</li>
            <li style="color:green;">HI</li>
            <li style="color: blue;">Hi</li>
            
        </ul>
</div>
<div class="f4" >
        <h2 style="color:rgb(43, 35, 206)"><img src="/assets/arrow.jpg" height="12px"> தூய்மை பணியாளர்களிடம் குப்பை சேர்ப்பது</h2>
        <ul type="circle">
            <li style="color: rgb(255, 0, 0);">Helo</li>
            <li style="color:green;">HI</li>
            <li style="color: blue;">Hi</li>
        </ul>
</div>
    <div class="f4">
        <img src="/assets/image2.jpg" width="500px" height="350px">
    </div>
<div class="f5">
    <h2 style="color:rgb(43, 35, 206)"><img src="/assets/arrow.jpg" height="12px"> நெகிழி குப்பைகளின் தீங்குகள்</h2>
    <ul type="circle">
            <li style="color: rgb(255, 0, 0);">Helo</li>
            <li style="color: green;">HI</li>
            <li style="color: blue;">Hi</li>
            <li style="color: rgb(227, 50, 180);">Hi</li> 
            </ul>
        </div>
    </div>
<fieldset>
    <legend style="text-align: center;">Comment Here</legend>
    <div class="email">
        <input type="text" placeholder="Email" required>
    </div><br>
    <div class="comment">
        <textarea placeholder="Comment.."></textarea>
    </div><br>
    <div class="submit">
        <a class="sdf" href="mailto:kamalesh20122000@gmail.com?subject=Feedback&body=Message"><button type="submit">Submit</button></a>
    </div>
</fieldset>
<br>
<br>
</body>
    

